.media-test {
    text-align: right;
}

#home p.content,
#home h2 {
    text-align: left !important;
}

.btn {
    margin-bottom: 0px;
}

#learn {
    h1 {
        margin: 50px 0;
        font-size: 3em !important;
    }
}

#data h2,
#mission h2 {
    margin-top: 100px !important;
}

#mission {
    img {
        margin-left: -15px;
    }
}
